
<h1 style="color:blue; text-align:center">The Goulage Game<h1/>
<h2 style="color:blue; text-align:center">A vs B<h2/>
<h3 style="color:blue; text-align:center">Objetivo: Llegar a la posición 7. Si te pasas, rebotas!<h3/>

<hr>
<h1 style="color:green"><%= @tableroA %></h1>
<hr>
<h1 style="color:red"><%= @tableroB %></h1>
<hr>
<form method="post" action="/dado">
	<h2 style="color:lightblue"> <%= @estado %><h2/><input type="submit" value="tirarDado">
</form>
<h4>(Salio el numero: <%= @valorDado %>)<h1/>

